.form-container{
    display: block;
    text-align: center;
}

form {
    margin-top: 100px;
    
    
    justify-content: center;
    background-color: lightgrey;
    
    
}


.title-container,.author-container,.rating-container,.ownership-container{

    margin-top: 10px;
    margin-bottom: 10px;
}

