.form-container{
    display: block;
    text-align: center;
}

form {
    margin-top: 70px;
   margin: auto;
   
}

.error,.zero-error{
    text-align: center;
}

.title-container,.author-container,.rating-container,.ownership-container{

    margin-top: 10px;
    margin-bottom: 15px;
}

h4{
    color: #000501;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 15px;
}