@import 'bookList.css';
@import 'book.css';
@import 'addBook.css';
@import 'searchResultList.css';
@import 'searchResultElement.css';

header{
    text-align: center;
    background-color: #000501;
    padding-top: 10px;
    padding-bottom: 30px;
}

html{
    background-color:#B9DFBB;
}

h1{
    color: #66A378;
}

a:link{
    text-decoration: none;
}

a:visited{
    color: purple;
}


.search-result-button{
    margin-bottom: 10px;
}

footer{ 
    width: 100%;
    bottom: 0;
}

