.add-button-container{
    display: flex;
    justify-content: center;
}

button{
    align-items: center;
}


.add-button{

    border-radius: 50%;
    background-color: #27767C;
    height: 40px;
    width: 150px;
    font-size: 22px;
    color: #ffffff;
    border: none;
}