.book{

    border-bottom: 1px solid black;
    padding: 10px;
    text-align: center;
}

.book:first-child{
    border-top: 2px solid black;
}

img{
    background-repeat: no-repeat;
    background-size: auto;

}
